

.navbar-form input {
    color: white;
}

.navbar-form .mui-textfield > input:focus {
    border-color: white;
}

.navbar-form .mui-btn {
    margin-left: 5px;
    vertical-align: middle;
}

.space {
    height: 20px;
}

.message-img {
    margin-right: 15px;
    height: 70px;
    width: 70px;
}

.sticky-appbar {
    position: sticky;
    top: 0px;
}

.main-footer {
    background-color: #bbb;
    padding: 10px 0;
}

.mprogress-custom-parent {
    width: 100%;
    overflow: visible;
    top: -3px;
}

.mprogress-custom-parent .ui-mprogress .indeter-bar {
    background: white;
}
