blockquote {
    margin: 0;
}

.navbar-form input {
    color: white;
}

.navbar-form .mui-textfield > input:focus {
    border-color: white;
}

.navbar-form .mui-btn {
    margin-left: 5px;
    vertical-align: middle;
}

.space {
    height: 20px;
}

.message-img {
    margin-right: 15px;
    height: 70px;
    width: 70px;
}

.sticky-appbar {
    position: sticky;
    top: 0;
}

.main-footer {
    background-color: #bbb;
    padding: 10px 0;
}

.mprogress-custom-parent {
    width: 100%;
    position: absolute;
    margin-top: -3px;
    height: 3px;
}

.mprogress-custom-parent .ui-mprogress .indeter-bar {
    background: white;
}

.reaction img {
    max-height: 16px;
}

.reaction b {
    font-weight: inherit;
}

.message-container {
    margin-left: 85px;
}

.reactions {
    display: inline-block;
}

.reactions-popup {
    display: none;
    visibility: hidden;
    background: white;
    position: absolute;
    max-height: 14em;
    padding: 15px;
    overflow-y: scroll;
    cursor: default;
}

.reactions-more {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5em;
}

.reactions-more:hover .reactions-popup,
.reactions-more:focus .reactions-popup,
.reactions-more .reactions-popup:focus {
    display: block;
    visibility: visible;
}
